<h1>Edit
  <%= @landmark.name%>
  Completed:
  <%=@landmark.year_completed.to_s%></h1>
<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" name="_method" value="patch" id="hidden">
  <p>Name:
    <input type="text" name="landmark[name]" id="name"></p>
  <p>Year Completed:
    <input type="text" name="landmark[year_completed]" id="year_completed"></p>
  <input type="submit" value="Edit Landmark">
</form>
