<h1><%= @figure.name%>
</h1>

<form action="/figures/<%=@figure.id%>" method="post">
  <p>Name:
    <input type="text" name="figure[name]" id="figure_name"></p>
  <p>Landmark:
    <input type="text" name="landmark[name]" id="new_landmark"></p>
  <p>Title:
    <input type="text" name="figure[title_ids]"></p>
  <input type="submit" value="Edit Figure">
</form>
