<h2>Edit this figure.</h2>

<form action="/figures" method="post">
  <label>Figure Name</label>
  <input type="text" name="figure_name">

  <lable>Select title.</lable>
    <%@titles.each do |title|%>
      <input type="checkbox" id="<%=title.name%>" name="titles[]" value="<%=title.id%>">
    <%end%>
    <br>
  <label>Or add new Title</label>
  <input type="text" name="title_name">
    <br>
  <lable>Select Landmark </lable>
    <%@landmarks.each do |landmark|%>
      <input type="checkbox" id="<%=landmark.name%>" name="landmarks[]" value="<%=landmark.id%>">
    <%end%>
    <br>
  <label>Or add new Landmark.</label>
  <input type="text" name="landmark_name">
  <input type="submit" value="Create">
</form>
