<h1><%= @figure.name %></h1>

<h2>Titles</h2>
<ul>
<%@figure.titles.each do |title| %>
<li><%=title.name%></li>
<%end%>
</ul>
<h2>landmarks</h2>
<ul>
<%@figure.titles.each do |title| %>
<li><%=title.name%></li>
<%end%>
</ul>
<a href="/figures/<%=@figure.id%>/edit"></a>
